<?xml version="1.0"?>
<config>
    <modules>
        <Yuzu_Tags>
            <version>2.0.4</version>
        </Yuzu_Tags>
    </modules>

    <global>
        <helpers>
            <yuzu_tags>
                <class>Yuzu_Tags_Helper</class>
            </yuzu_tags>
        </helpers>
        <blocks>
            <yuzu_tags>
                <class>Yuzu_Tags_Block</class>
            </yuzu_tags>
        </blocks>
        <models>
            <yuzu_tags>
                <class>Yuzu_Tags_Model</class>
            </yuzu_tags>
        </models>
        <events>
            <admin_system_config_changed_section_yuzu_tags>
                <observers>
                    <Yuzu_Tags_Observer>
                       <type>singleton</type>
                       <class>Yuzu_Tags_Model_Observer</class>
                       <method>handleSaveConfig</method>
                    </Yuzu_Tags_Observer>
                </observers>
            </admin_system_config_changed_section_yuzu_tags>
            <sales_order_save_after>
                <observers>
                    <Yuzu_Tags_OrderObserver>
                       <type>singleton</type>
                       <class>Yuzu_Tags_Model_OrderObserver</class>
                       <method>handleOrderChanges</method>
                    </Yuzu_Tags_OrderObserver>
                </observers>
            </sales_order_save_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <yuzu_tags>
                    <file>yuzu_tags.xml</file>
                </yuzu_tags>
            </updates>
        </layout>
        <routers>
            <yuzu>
                <use>standard</use>
                <args>
                    <module>Yuzu_Tags</module>
                    <frontName>yuzu</frontName>
                </args>
            </yuzu>
        </routers>
    </frontend>

    <default>
	    <yuzu_tags>
	        <general>
                <tag_url_js>URL_TAG_JS_YUZU</tag_url_js>
                <enable>0</enable>
	        </general>
	    </yuzu_tags>
    </default>    
</config>
